In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
df['species'] = encoder.fit_transform(df['species'])
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [10]:
X = df.drop('species',axis=1)
y = df['species']

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =  train_test_split(X,y,test_size=0.25,random_state=42)

In [12]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [14]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [16]:
y_pred=model.predict(X_test)

In [18]:
from sklearn import metrics
print("Accuracy score:", metrics.accuracy_score(y_test,y_pred))
print("Confusion matrix:\n", metrics.confusion_matrix(y_test,y_pred))

Accuracy score: 1.0
Confusion matrix:
 [[15  0  0]
 [ 0 11  0]
 [ 0  0 12]]

In [19]:
df1 = pd.read_csv('logisticReg.csv')
df1

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [31]:
df1.rename(columns={'User ID': 'user'},inplace=True)

In [32]:
df1=df1.drop('user',axis=1)

In [33]:
df1

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [34]:
df1['Gender'] = encoder.fit_transform(df1['Gender'])
df1

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [35]:
X1 = df1.drop('Purchased',axis=1)
y1 = df1['Purchased']
X1_train, X1_test, y1_train,  y1_test = train_test_split(X1, y1, test_size=0.20, random_state=42)

In [94]:
model1 = DecisionTreeClassifier(criterion='log_loss',splitter='random',max_depth=4,)
model1.fit(X1_train,y1_train)

DecisionTreeClassifier(criterion='log_loss', max_depth=4, splitter='random')

In [95]:
y1_pred = model1.predict(X1_test)

In [96]:
print('Accuracy score:', metrics.accuracy_score(y1_test,y1_pred))
print('Confusion Matrix:\n',metrics.confusion_matrix(y1_test,y1_pred))

Accuracy score: 0.9125
Confusion Matrix:
 [[49  3]
 [ 4 24]]